<div class="mb-4">
  <%= form.label :title, 'Title', class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="mb-4">
  <%= form.label :genre, 'Genre', class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.text_field :genre, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="mb-4">
  <%= form.label :year, 'Year', class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.number_field :year, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="mb-4">
  <%= form.label :author_id, 'Author', class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.collection_select :author_id, @authors, :id, :name, { prompt: 'Choose Author' }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>
